<%@ Import namespace="KeyCentral" %>
<%@ Page EnableViewState="False" language="c#" Inherits="WeeklySales.Reports.YearWeeklySummary.ReportYearWeeklySummary" Codebehind="ReportYearWeeklySummary.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server">
		<title>Customer Status</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="C#" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<link href="/KeystoneCustomerStatus/Inc/_styles.css" type="text/css" rel="stylesheet"/>
  </head>
	<body bgcolor="#ffffff" onload="SetupPrinting();">
	<form id="Form1" method="post" runat="server">
	<!-- #include file="../../../KeyCentralABZ/UI/Include/ScreenHeader.html"-->
		</form>
	</body>
</html>
