<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Menu.aspx.cs" Inherits="KeyCentralABZ.UI.Menu.Menu" %>

<%--<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>--%>

<%@ Register Assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>KeyCentral Menu</title>
    	<!--<style type="text/css">DIV.scroll { OVERFLOW: auto; ; WIDTH: expression(document.body.clientWidth); ; HEIGHT: expression(document.body.clientHeight-70) }
            </style>-->
      <style type="text/css">DIV.scroll { OVERFLOW: auto; WIDTH: 80%; HEIGHT: 80% }</style>
	<style type="text/css">
		DIV.scrollFooter
		{ 
			OVERFLOW: auto;
			WIDTH: expression(document.body.clientWidth);
			HEIGHT: expression(document.body.clientHeight-200);
		}
		DIV.scrollLeft
		{
			OVERFLOW: auto;
			WIDTH: 500px;
			HEIGHT: expression(document.body.clientHeight-70);
		}
		DIV.scrollRight
		{
			OVERFLOW: auto;
			WIDTH: 500px;
			HEIGHT:expression(document.body.clientHeight-70);
		}
		DIV.scrollHeader
		{
			OVERFLOW: hidden;
			WIDTH: expression(document.body.clientWidth-235);
			/*HEIGHT: 144px;*/
		}
	</style>
</head>
<body>
    <form id="form1" runat="server">
			<!-- #include file="../../../KeyCentralABZ/UI/Include/ScreenHeader.html"-->
			<table>
			    <tr>
					<td>
                        <div class="scrollLeft" id="LeftDiv" dir="rtl">
                            <asp:ScriptManager ID="ScriptManager1" runat="server">
                            </asp:ScriptManager>
                            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                                <ContentTemplate>
                                <div style="text-align:center">
                                <br /><br />
                                    <asp:HyperLink ID="HyperLink1" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink2" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink3" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink4" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink5" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink6" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink7" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink8" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink9" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink10" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink11" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink12" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink13" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink14" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink15" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink16" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink17" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink18" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink19" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink20" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink21" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink22" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink23" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink24" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink25" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink26" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink27" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink28" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink29" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    <asp:HyperLink ID="HyperLink30" runat="server" class="button" style="text-decoration:none; padding: 2px;"></asp:HyperLink><br /><br />
                                    </div >
                                </ContentTemplate>
                            </asp:UpdatePanel>
                        </div>
                    </td>
                    
                </tr>
            </table>
			<!-- #include file="../../../KeyCentralABZ/UI/Include/ScreenFooter.html"-->
    </form>
</body>
</html>
