.cellDate
{
	font-weight: bold;
	font-size: 10px;
	cursor: hand;
	color: #2917A8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	text-decoration: none;
}
.cellDay
{
    BACKGROUND-COLOR: white;
    COLOR: #2917A8;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.cellDaySunday
{
    BACKGROUND-COLOR: white;
    COLOR: #2917A8;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.cellDateSunday
{
    BACKGROUND-COLOR: white;
    COLOR: #2917A8;
    CURSOR: hand;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.cboMonth
{
	border-right: medium none;
	border-top: medium none;
	font-size: 10px;
	border-left: medium none;
	color: #2917A8;
	border-bottom: medium none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
}
.cboYear
{
	border-right: medium none;
	border-top: medium none;
	font-size: 10px;
	border-left: medium none;
	color: #2917A8;
	border-bottom: medium none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
}
.cellClose
{
    BACKGROUND-COLOR: #2917A8;
    COLOR: #CCFFFF;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
}
.cellHead
{
	font-weight: bold;
	font-size: 10px;
	color: #2917A8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #2917A8;
	text-decoration: none;
}
.tableBgBorder
{
	background-color: #2917A8;
}
.linkClose
{
    COLOR: #CCFFFF;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.cellDateOver
{
	font-weight: bold;
	font-size: 10px;
	cursor: hand;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: yellow;
	text-decoration: none;
}
.cellDateOverSunday
{
	font-weight: bold;
	font-size: 10px;
	cursor: hand;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: yellow;
	text-decoration: none;
}
.cellEmpty
{
	font-weight: bold;
	font-size: 10px;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	text-decoration: none;
}
.linkArrow 
{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 8px; 
    font-weight: bold; 
    color: #CCFFFF; 
    text-decoration: none;
}
.cellDateToday
{
	font-weight: bold;
	font-size: 10px;
	cursor: hand;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCFFFF;
	text-decoration: none;
}
.cellDateOverToday 
{   
    font-weight: bold;
	font-size: 10px;
	cursor: hand;
    color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCFFFF;
    text-decoration: none;
}
