<%@ Page language="c#" Inherits="KeyCentral.UI.Include.Excel2" Codebehind="Excel2.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><title></title></head>
  <body>
    <form id="Form1" method="post" runat="server">
     </form>
  </body>
</html>
