<%@ Page validateRequest="false" language="c#" Inherits="KeyCentral.UI.Include.Excel" Codebehind="Excel.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Excel</title>
<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR"/>
<meta content="C#" name="CODE_LANGUAGE"/>
<meta content="JavaScript" name="vs_defaultClientScript"/>
<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema"/>
<script type="text/javascript" language="javascript">
		function LoadValues()
		{
			if(document.getElementById("EmailForm").value =="")
			{
				document.getElementById("EmailForm").value = window.opener.document.documentElement.outerHTML;
				//document.getElementById("EmailForm").value = window.dialogArguments.document.documentElement.outerHTML;
				Form1.submit();
			}
			else
			{
				document.close();
			}
			
		}
		</script>
</head>
<body onload="LoadValues();">
	<form id="Form1" method="post" runat="server"><input id="EmailForm" type="hidden" name="EmailForm"/> 
		<table>
		<tr><td><h2>Preparing your Excel file.</h2></td></tr>
		</table>
	</form>
		
</body>
</html>
