<link rel="stylesheet" type="text/css" href="../../../StyleSheet1.css">

<script type="text/jscript" src="../../../KeyCentralABZ/UI/Include/jquery-1.2.6.js"></script>
<script type="text/jscript" src="../../../KeyCentralABZ/UI/Include/jquery.fixedheader.js"></script>
<script src="../../../KeyCentralABZ/UI/Include/BaseRFB.js"></script>
<div id="LookupSearchDiv" lookuptype="" style="LEFT: -1000px; POSITION: absolute; TOP: -1000px">
    <table class="ContextMenu" id="Table4">
        <tr>
            <td id="ContextMenuLookup" class="ContextMenuItem" onmouseenter="document.getElementById('ContextMenuLookup').className='ContextMenuItemOnHover';" onmouseleave="document.getElementById('ContextMenuLookup').className='ContextMenuItem';" onclick="ShowLookupSearch('Lookup');"><a class="ContextMenuItemLink">Lookup</a></td>
        </tr>
        <tr>
            <td id="ContextMenuSearch" class="ContextMenuItem" onmouseenter="document.getElementById('ContextMenuSearch').className='ContextMenuItemOnHover';" onmouseleave="document.getElementById('ContextMenuSearch').className='ContextMenuItem';" onclick="ShowLookupSearch('Search');"><a class="ContextMenuItemLink">Search</a></td>
        </tr>
    </table>
</div>
<div id="CalendarDiv" style="Z-INDEX: 900; LEFT: -1000px; VISIBILITY: hidden; WIDTH: 230px; POSITION: absolute; TOP: -1000px">
    <iframe name="CalendarFrame" width="230" height="142" src="../../../KeyCentralABZ/UI/Include/datepicker.htm"
        noresize scrolling="no" frameborder="no" border="0" framespacing="0"></iframe>
</div>
<div id="LogDiv" runat="server" class="LogDiv" style="Z-INDEX: 9999; LEFT: -1000px; WIDTH: 400px; POSITION: absolute; TOP: -1000px; HEIGHT: 550px">
</div>
		<div id="BaseRFBHeaderDiv" width="785" class="BaseRFBHeader">
			<table bgcolor="#2917A8" width="100%" ID="Table3" cellpadding="0" cellspacing="0">
				<tr>
					<td bgcolor="#CCFFFF">
						<table cellpadding="0" height="40" cellspacing="0" ID="Table5">
							<tr>
                                <td height="40">&nbsp;&nbsp;&nbsp;<img src="../../../KeyCentralABZ/UI/Images/BorzynskiLogo32.png"/>&nbsp;&nbsp;&nbsp;<img src="../../../KeyCentralABZ/UI/Images/Key Central Logo ( 100x20 pix).png" />&nbsp;&nbsp;&nbsp;</td>
								<!--<td class="BaseHeaderLogo" valign="top" height="40" width="17" colspan="2" rowSpan="1"><font size="5">R</font></td>
								<td class="BaseHeaderLogo" width="13" height="40"><font size="5">F</font></td>
								<td class="BaseHeaderLogo" valign="bottom" width="3" height="40"><font size="5">B</font></td>
								<td class="BaseHeaderLogoB" height="40"><font color="white" size="5">II Custom 
										Solutions </font>
								</td>
								<td width="13"></td>
								<td class="BaseHeaderLogo" height="40"><font size="5">- Key Central</font><font size="4"><sup> &reg;</sup></font></td>
								<td width="300" align="right">
									<P><font color="#3C17A8" size="4" face="Arial"><%= KeyCentral.Functions.Misc.GetVersionString(this) %></font><P>
								</td>-->
                                <td width="300" align="right"><P><font color="#2917A8" size="4" face="Arial"><%= KeyCentral.Functions.Misc.GetVersionString(this) %></font><P></td>
							</tr>
							<TR>
								<td height="1" width="17">
							<tr height="1">
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table width="100%" cellpadding="0" cellspacing="0" ID="Table1">
				<tr>
					<td bgcolor="ccffff">
						<table ID="Table2" cellpadding="0" cellspacing="0">
							<tr>
								<td class="menutd"><asp:Menu ID="MainMenu" runat="server"></asp:Menu></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
