<%@ Page EnableViewState="false" language="c#" Inherits="IOSRP0607.UI.Inputs.RenewSession" Codebehind="RenewSession.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
	<head runat="server">
		<title>RenewSession</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR"/>
		<meta content="C#" name="CODE_LANGUAGE"/>
		<meta content="JavaScript" name="vs_defaultClientScript"/>
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema"/>
	</head>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:image id="Image1" runat="server" ImageUrl="../../../KeyCentralABZ/UI/Include/Computing.gif" Height="196px" Width="340px" BorderStyle="None" ImageAlign="Top"></asp:image>
		</form>
	</body>
</html>