<%@ Page language="c#" Inherits="KeyCentral.UI.SessionPing" Codebehind="SessionPing.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server"><title></title>
  <meta http-equiv="PRAGMA" content="NO-CACHE"/>
  <script type="text/javascript">stmh = setTimeout('window.location.reload()',60000)</script>
  <script type="text/javascript">//window.parent.HandleServerMessage('say:Message to Client');
  </script>
  </head>
  <body>
  </body>
</html>
