table
{
	padding:0;
	border:0;
}
.BaseHeaderLogo
{
	font-size: 5pt;
	color: #2917A8;
	line-height: 22px;
	font-family: 'Times New Roman';
}
.BaseHeaderLogoB
{
	line-height: 22px;
	font-family: 'Times New Roman';
	text-decoration: underline;
}
.text
{
	color: black;
	font-family: Tahoma;
	background-color: white;
}
body
{
	font-size: 12pt;
	margin: 0px;
	font-family: Tahoma;
	background-color: white;
}
.label
{
	color: black;
	font-family: Tahoma;	
}
.text:hover
{
	color: #2917A8;
	font-family: Tahoma;
	background-color: #ccffff;
}
.menutd
{
	font-weight: bold;
	font-size: 16px;
	background: #2917A8;
	color: #2917A8;
	font-family: Tahoma;
	white-space: nowrap;
	padding:0px;
	border-style:solid;
	border-width:0px;
	border-color:#2917A8;
    display: inline-block;
}

.menustyle
{
	font-weight: bold;
	font-size: 16px;
	background: #2917A8;
	color: #2917A8;
	font-family: Tahoma;
	white-space: nowrap;
	padding:1px;
	border-style:solid;
	border-width:0px;
	border-color:#2917A8;
	display: inline-block;
}
.menuitem
{
	font-weight: bold;
	font-size: 16px;
	background: #ccffff;
	cursor: hand;
	color: #2917A8;
	font-family: Tahoma;
	white-space: nowrap;
	padding:1px;
	display: inline-block;
}
.mouseover
{
	font-weight: bold;
	font-size: 16px;
	background: #2917A8;
	cursor: hand;
	color: #ccffff;
	font-family: Tahoma;
	white-space: nowrap;
	display: inline-block;
}
.menustyledynamic
{
	font-weight: bold;
	font-size: 16px;
	background: #2917A8;
	color: #2917A8;
	font-family: Tahoma;
	white-space: nowrap;
	border-style:solid;
	border-width: 1px;
	border-color: #2917A8;
	display: inline-block;
}
.menuitemdynamic
{
	font-weight: bold;
	font-size: 16px;
	background: #ccffff;
	cursor: hand;
	color: #2917A8;
	font-family: Tahoma;
	white-space: nowrap;
	padding:1px;
	border-style:solid;
	border-width:1px;
	border-color: #2917A8;
	display: inline-block;
}
.mouseoverdynamic
{
	font-weight: bold;
	font-size: 16px;
	background: #2917A8;
	cursor: hand;
	color: #ccffff;
	font-family: Tahoma;
	white-space: nowrap;
	padding:1px;
	display: inline-block;
}
a.Links
{
	border-right: #2917A8 thick solid;
	table-layout: fixed;
	border-top: #2917A8 thick solid;
	font-weight: bold;
	font-size: 12pt;
	border-left: #2917A8 thick solid;
	width: 1.5in;
	color: #2917A8;
	border-bottom: #2917A8 thick solid;
	font-family: Tahoma;
	background-color: #ccffff;
	text-align: center;
	text-decoration: none;
}
a.Links:hover
{
	border-right: #2917A8 double;
	border-top: #2917A8 double;
	font-weight: bold;
	border-left: #2917A8 double;
	color: #ccffff;
	border-bottom: #2917A8 double;
	font-family: Tahoma;
	background-color: #2917A8;
	text-decoration: none;
}
.button
{
	border-right: #2917A8 .5px solid;
	table-layout: fixed;
	border-top: #2917A8 .5px solid;
	font-weight: bold;
	font-size: 12pt;
	border-left:  #2917A8 .5px solid;
	color: #2917A8;
	border-bottom: #2917A8 .5px solid;
	font-family: Tahoma;
	background-color: #ccffff;
	text-align: center;
	text-decoration: none;
}
.buttonover
{
	border-right: #2917A8 .5px solid;
	border-top: #2917A8 .5px solid;
	font-weight: bold;
	border-left: #2917A8 .5px solid;
	color:#ccffff;
	border-bottom: #2917A8 .5px solid;
	font-family: Tahoma;
	background-color:  #2917A8;
	text-decoration: none;
}

.ContextMenu
{
	border-right: thin inset;
	padding-right: 0px;
	border-top: thin inset;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 2px;
	border-left: thin inset;
	padding-top: 0px;
	border-bottom: thin inset;
	background-color: #ffffff;
}
.ContextMenuItem
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 10pt;
	padding-bottom: 0px;
	margin: 2px;
	padding-top: 0px;
}
.ContextMenuItemOnHover
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 10pt;
	padding-bottom: 0px;
	margin: 2px;
	padding-top:0px;
	background-color:yellow;
	text-decoration:underline;
	cursor:pointer;
}
.LogDiv
{
	border-right: groove;
	border-top: groove;
	z-index: 999;
	overflow: auto;
	border-left: groove;
	border-bottom: groove;
	position: absolute;
	background-color: #2917A8;
}