<%@ Page language="c#" Inherits="KeyCentral.UI.test.test" enableViewState="False" Codebehind="test.aspx.cs" %>
<%@ Import Namespace="KeyCentral.Functions" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<script runat="server">
    
public void Test()
{
    Response.Write("1/26/02 " + WalmartWeek.DateToWeek("1/26/02") + "<br>");
    Response.Write("2/1/02 " + WalmartWeek.DateToWeek("2/1/02") + "<br>");
    Response.Write("2/4/02 " + WalmartWeek.DateToWeek("2/4/02") + "<br>");
    Response.Write("2/12/02 " + WalmartWeek.DateToWeek("2/12/02") + "<br>");
    Response.Write("2/23/02 " + WalmartWeek.DateToWeek("2/23/02") + "<br>");
    Response.Write("3/2/02 " + WalmartWeek.DateToWeek("3/2/02") + "<br> <br>");


    Response.Write("1/31/03 53:" + WalmartWeek.DateToWeek("1/31/03") + "<br>");
    Response.Write("2/1/03 1:" + WalmartWeek.DateToWeek("2/1/03") + "<br>");
    Response.Write("2/8/03 2:" + WalmartWeek.DateToWeek("2/8/03") + "<br>");
    Response.Write("1/1/04 48:" + WalmartWeek.DateToWeek("1/1/04") + "<br>");
    Response.Write("1/30/04 52:" + WalmartWeek.DateToWeek("1/30/04") + "<br>");
    Response.Write("1/31/04 1:" + WalmartWeek.DateToWeek("1/31/04") + "<br>");
    Response.Write("1/5/06 49:" + WalmartWeek.DateToWeek("1/5/06") + "<br>");
    Response.Write("1/6/06 49:" + WalmartWeek.DateToWeek("1/6/06") + "<br>");
    Response.Write("1/7/06 50:" + WalmartWeek.DateToWeek("1/7/06") + "<br>");
    
}
    
    //public string FormatYear
</script>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head runat="server">
		<title>test</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="C#" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<!--<style type="text/css">DIV.scroll { OVERFLOW: auto; ; WIDTH: expression(document.body.clientWidth); ; HEIGHT: expression(document.body.clientHeight-70) }
            </style>-->
      <style type="text/css">DIV.scroll { OVERFLOW: auto; WIDTH: 80%; HEIGHT: 80% }</style>
	</head>
	<body>
		<form id="Form1" method="post" runat="server">
			<!-- #include file="../../../KeyCentralABZ/UI/Include/ScreenHeader.html"-->
			<div class="scroll" id="BodyDiv">
			<!-- Email Start -->
			
			<!-- Email End -->	
			<% Test(); %>
			
			<!-- Email Start -->
				Second Section of code
			<!-- Email End -->
			</div>
			
		</form>
	</body>
</html>
