<%@ Page EnableViewState="False" language="c#" Inherits="WeeklySales.Reports.RawSales.ReportRawSales" Codebehind="ReportRawSales.aspx.cs" %>
<%@ Import namespace="KeyCentral" %>
<%@ Import namespace="WeeklySales.App_Code" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
	<head runat="server">
		<title>Raw Sales Data Report</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="C#" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<link href="/KeystoneCustomerStatus/Inc/_styles.css" type="text/css" rel="stylesheet"/>
	</head>
	<body bgcolor="#ffffff">
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</html>
