<%@ Page language="c#" Inherits="KeyCentralABZ.UI.Security.Logout" Codebehind="Logout.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Logout</title><link rel="stylesheet" type="text/css" href="../../../StyleSheet1.css"/>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1"/>
		<meta name="CODE_LANGUAGE" content="C#"/>
		<meta name="vs_defaultClientScript" content="JavaScript"/>
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>
	</head>
	<body>
		<form id="Form1" method="post" runat="server">
			
		</form>
	</body>
</html>
