<%@ Page EnableViewState="False" language="c#" Inherits="WeeklySales.Reports.WeeklySales.ReportWeekly" Codebehind="ReportWeekly.aspx.cs" %>
<%@ Import namespace="KeyCentral" %>
<%@ Import namespace="WeeklySales.App_Code" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server">
  <!-- Email Start -->
		<title>Customer Status</title>
		<style type="text/css">.ReportTable.TD { FONT-SIZE: 8pt }
	.ReportTable.TD.OrderHeader1 { BORDER-RIGHT: lightgrey 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; FONT-FAMILY: Arial }
	.ReportTable.TD.OrderHeader2 { BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; FONT-FAMILY: Arial }
	.ReportTable.TD.OrderHeader2a { BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; COLOR: red; FONT-FAMILY: Arial }
	.ReportTable.TD.OrderHeader3 { BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: lightgrey 1px solid; FONT-FAMILY: Arial }
	.ReportTable.TD.OrderHeader4 { BORDER-RIGHT: lightgrey 1px solid; BORDER-TOP: #000000 double; FONT-SIZE: 10pt; FONT-FAMILY: Arial }
	.ReportTable.TD.OrderHeader5 { BORDER-TOP: #000000 double; FONT-SIZE: 10pt; FONT-FAMILY: Arial }
	.ReportTable.TD.OrderHeader6 { BORDER-TOP: #000000 double; FONT-SIZE: 10pt; BORDER-LEFT: lightgrey 1px solid; FONT-FAMILY: Arial }
	.ReportTable.TD.OrderHeader7 { BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: maroon; FONT-FAMILY: Arial }
	.ReportTable.TD.DetailLine1 { BORDER-RIGHT: lightgrey 1px solid; FONT-SIZE: 10pt; BORDER-BOTTOM: lightgrey 1px solid; FONT-FAMILY: Arial }
	.ReportTable.TD.DetailLine2 { FONT-SIZE: 10pt; BORDER-BOTTOM: lightgrey 1px solid; FONT-FAMILY: Arial }
	.ReportTable.TD.DetailLine3 { FONT-SIZE: 10pt; BORDER-LEFT: lightgrey 1px solid; BORDER-BOTTOM: lightgrey 1px solid; FONT-FAMILY: Arial }
	.ReportTable.TD.OrderHeader2Right { BORDER-RIGHT: lightgrey 1px solid }
	.ReportTable.TD.OrderHeader2Top { BORDER-TOP: lightgrey 1px solid }
	.ReportTable.TD.OrderHeader2TopRight { BORDER-RIGHT: lightgrey 1px solid; BORDER-TOP: lightgrey 1px solid }
	.ReportTable.TD.OrderHeader4Number { BORDER-LEFT: lightgrey 1px solid }
	.ReportTable.TD.DetailLine { BORDER-TOP: lightgrey 1px solid; FONT-SIZE: 10pt; FONT-FAMILY: Arial }
	.ReportTable.TD.DetailLineNumber { BORDER-TOP: lightgrey 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: lightgrey 1px solid }
	.ReportTable.TD.SubTotalSoldTop { BORDER-TOP: #000000 1px solid }
	.ReportTable.TD.SubTotalSold { }
	.ReportTable.TD.SubTotalShipTop { BORDER-TOP: #000000 1px solid }
	.ReportTable.TD.SubTotalShip { }
	.ReportTable.TD.OrderFooter { BORDER-TOP: #000000 3px double }
	.Title { FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Arial }
	.Title1 { FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial }
	</style>
	<!-- Email End -->	
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" />
		<meta content="C#" name="CODE_LANGUAGE" />
		<meta content="JavaScript" name="vs_defaultClientScript" />
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
		<link href="/KeystoneCustomerStatus/Inc/_styles.css" type="text/css" rel="stylesheet"/>
		<!--<style type="text/css">DIV.scroll { OVERFLOW: auto; ; WIDTH: expression(document.body.clientWidth); ; HEIGHT: expression(document.body.clientHeight-70) }
            </style>-->
      <style type="text/css">DIV.scroll { OVERFLOW: auto; WIDTH: 80%; HEIGHT: 80% }</style>
  </head>
	<body bgcolor="#ffffff" onload="SetupPrinting();">
    <object id="factory" style="DISPLAY: none" codebase="http://www.meadroid.com/scriptx/ScriptX.cab#Version=6,1,431,2" classid="clsid:1663ed61-23eb-11d2-b92f-008048fdd814" viewastext="">
	</object>
		<script type="text/javascript" language="javascript">
		function SetupPrinting()
		{
			factory.printing.footer = "Printed: &d &t&bPage &p of &P&bWeekly Sales Report";
			factory.printing.header = "";
			factory.printing.leftMargin = .5;
			factory.printing.rightMargin = .5;
			factory.printing.topMargin = .5;
			factory.printing.bottomMargin = .5;
		}  
		</script>
	<form id="Form1" method="post" runat="server">
			<!-- #include file="../../../KeyCentralABZ/UI/Include/ScreenHeader.html"-->
			<div class="scroll" id="BodyDiv">
			<!-- Email Start -->
				<table cellspacing="0" cellpadding="0" width="720" border="0" class="ReportTable">
					<tr>
						<td align="center">
							<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="Title" align="left" colspan="5">Weekly Sales Report
								</td>
							</tr>
							</table>
							<table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="Title1" align="left" colspan="5">
									<div id="CommentLine" runat="server"></div>
								</td>
							</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td height="20"><font size="2" face="Arial">&nbsp;</font></td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" width="720" border="0" class="ReportTable">
					<asp:repeater id="Repeater1" runat="server">
						<ItemTemplate>
							<%# DisplayReportItem((WeeklySalesBLL.ReportItem)((RepeaterItem)Container).DataItem)%>
						</ItemTemplate>
						<FooterTemplate>
							<%# DisplayFooter() %>
						</FooterTemplate>
					</asp:repeater></table>
				<table>
					<tr>
						<td height="40"><font size="2" face="Arial">&nbsp;</font></td>
					</tr>
				</table>
				<!-- Email End -->
			</div>
			<!-- #include file="../../../KeyCentralABZ/UI/Include/ScreenFooter.html"-->
		</form>
	</body>
</html>
